body {
	font-family: 'Alatsi', sans-serif;
	margin: 0;
	overflow: hidden;
	background: '#489744';
}

.container {
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;

	position: absolute;
	top: 0;
	left: 0;
	width: 100vw;
	height: 100vh;
}

.title {
	font-size: 5vw;
	color: white;
	display: block;
}

.subtitle {
	font-size: 2vw;
	display: block;
	color: white;
}

.question-card {
	border-radius: 10px;
	background: #e53450;
	padding: 20px;
}

canvas {
	width: 100%;
}
